*.pyc
*.yaml

indexes.py
__init__.py
LICENSE
manage.py
settings.py
urls.py

.gaedata*
autoload*
dbindexer*
django*
static/css/bootstrap*
static/img
static/js
templates/404.html
templates/500.html
templates/base.html
